<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>lableText</key>
			<string>现单位名称</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>0</string>
			<key>textFieldPlaceholder</key>
			<string>现单位名称</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>职业</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>1</string>
			<key>textFieldPlaceholder</key>
			<string>职业</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>单位规模</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>2</string>
			<key>textFieldPlaceholder</key>
			<string>单位规模</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>现单位工作年限</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>3</string>
			<key>textFieldPlaceholder</key>
			<string>现单位工作年限</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>总工作年限</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>4</string>
			<key>textFieldPlaceholder</key>
			<string>总工作年限</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>lableText</key>
			<string>职务</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>5</string>
			<key>textFieldPlaceholder</key>
			<string>职务</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>单位地址</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>6</string>
			<key>textFieldPlaceholder</key>
			<string>单位地址</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>详细地址</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>7</string>
			<key>textFieldPlaceholder</key>
			<string>详细地址</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>单位电话</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>8</string>
			<key>textFieldPlaceholder</key>
			<string>示例:区号-单位电话</string>
		</dict>
	</array>
</array>
</plist>
