<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>lableText</key>
			<string>真实姓名</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>0</string>
			<key>textFieldPlaceholder</key>
			<string>上传后不可修改</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>婚姻状况</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>3</string>
			<key>textFieldPlaceholder</key>
			<string>选择婚姻状况</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>教育程度</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>4</string>
			<key>textFieldPlaceholder</key>
			<string>选择教育程度</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>lableText</key>
			<string>身份证号</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>5</string>
			<key>textFieldPlaceholder</key>
			<string>18位身份证号</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>居住地址</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>6</string>
			<key>textFieldPlaceholder</key>
			<string>选择省/市/县</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>详细地址</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>7</string>
			<key>textFieldPlaceholder</key>
			<string>街道/楼/室</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>户籍所在地</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>8</string>
			<key>textFieldPlaceholder</key>
			<string>选择省/市/区县</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string></string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>9</string>
			<key>textFieldPlaceholder</key>
			<string>街道/楼/室</string>
		</dict>
		<dict>
			<key>lableText</key>
			<string>电子邮件</string>
			<key>textField</key>
			<string></string>
			<key>keyboardType</key>
			<string>10</string>
			<key>textFieldPlaceholder</key>
			<string>优先填写QQ邮箱</string>
		</dict>
	</array>
</array>
</plist>
